[Unit]
Description=Orca Auto runtime stack for %i
Wants=orca_auto-queue-worker@%i.service
Wants=orca_auto-bot@%i.service
After=local-fs.target
After=network-online.target

[Install]
WantedBy=multi-user.target
