scheduler:
  max_active_simulations: 4
workflow:
  root: /home/user/chemstack/workflow_root
  paths:
    xtb_executable: /home/user/bin/xtb-dist/bin/xtb
    crest_executable: /home/user/bin/crest/crest
behavior:
  auto_organize_on_terminal: false
telegram:
  bot_token: ""
  chat_id: ""
orca:
  runtime:
    allowed_root: /home/user/orca_runs
    organized_root: /home/user/orca_outputs
    default_max_retries: 2
  paths:
    orca_executable: /home/user/opt/orca/orca
