scheduler:
  max_active_simulations: 4
workflow:
  root: /home/user/chemstack/workflow_root
telegram:
  bot_token: ""
  chat_id: ""
orca:
  runtime:
    allowed_root: /home/user/orca_runs
    organized_root: /home/user/orca_outputs
    default_max_retries: 2
  paths:
    orca_executable: /home/user/opt/orca/orca
xtb:
  runtime:
    allowed_root: /home/user/xtb_runs
    organized_root: /home/user/xtb_outputs
  paths:
    xtb_executable: /home/user/bin/xtb-dist/bin/xtb
crest:
  runtime:
    allowed_root: /home/user/crest_runs
    organized_root: /home/user/crest_outputs
  paths:
    crest_executable: /home/user/bin/crest/crest
